.navbar__barContent {
    height: 54px;
    background-color: white;
    border-bottom: 1px solid #dbdbdb;
}
.navbar_logo:hover {
    cursor: pointer;
}
.navbar__img {
    margin:15px 10px;
}
.navbar__img:hover {
    cursor: pointer;
}
.navbar__searchBar {
    height: 30px;
    width: 215px;
    margin-top: 10px;
    border: 1px solid #dbdbdb;
    text-align: center;
    background-color: #fafafa;
    border-radius: 5px;
}
.fileupload > input {
    display: none;
}
.mainpage__uploadicon {
    height: 50px;
    width: 50px;
}
.searchScreen {
    position: absolute;
    /* top: 100%; */
    /* left: 0; */
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    max-width: 400px;
    z-index: 1;
}